# Python
__pycache__/
app/__pycache__/
app/routes/__pycache__/
app/static/uploads/
app/models/__pycache__/
app/utils/__pycache__/
*.py[cod]
*.so
.Python
venv/
config.py
requirements.txt

# Virtual Environment
venv/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
